html,body{height: 100%}

.login-page{
	height: 100%;
}

.login-box{
	margin-top: 0px;
	position: relative;
	top: 100px;
	border: 1px solid #eee;
}

.login-logo img{
	width: 318px;
}


/*登录页面的动画*/
.canvas-wrap #canvas{
  width:100%;
  height: 100%;
  overflow: hidden;
  position:absolute;
  top:0;
  left:0;
  background-color: #1a1724;               
}
.canvas-wrap{
  position:relative;
  height: 100%;
}
.canvas-wrap div.canvas-content{
  position:relative;
  z-index:2000;
  color:#fff;
  text-align:center;
  padding-top:30px;
}

/*tab*/
.sly-tab{
  padding: 0;
}

.sly-tab > button,
.sly-tab > .btn-group > button{
  display: inline-block;
  padding: 12px;
  background-color: #FFF;
  border: 0;
  border-radius: 0;
}

.sly-tab > .forward{
  position: absolute;
  top: 0;
  right: 0;
}
.sly-tab > .sly-frame{
  margin: 0;
  height: 44px;
  margin-left: 73px;
  margin-right: 37px;
  background-color: #FFF;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.sly-tab > .nav-tabs-custom > .nav-tabs {
  display: block; 
  right: 100%;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
.sly-tab > .nav-tabs-custom > .nav-tabs > li {
  cursor:pointer;
  margin: 0;
  border-top: 0;
  margin-bottom: -2px;
  border-bottom: 3px solid transparent;
  height: 100%;
}
.sly-tab > .nav-tabs-custom > .nav-tabs > li > a {
  white-space: nowrap;
  padding: 10px;
}
.sly-tab > .nav-tabs-custom > .nav-tabs > li > a > span > .tab-icon {
  margin-right: 2px;
  color: #999;
}
.sly-tab > .nav-tabs-custom > .nav-tabs > li.active > a > span > .tab-icon {
  margin-right: 2px;
  color: #666;
}

.nav-tabs-custom > .nav-tabs > li:hover > a {
  color: #000;
}

.sly-tab > .nav-tabs-custom > .nav-tabs > li.tab-warn > a > span,
.sly-tab > .nav-tabs-custom > .nav-tabs > li.tab-warn > a > span > .tab-icon {
  color: #dd4b39;
}

.sly-tab > .nav-tabs-custom > .nav-tabs > li > a > .tab-close {
  margin-left: 8px;
  color: #CCC;
}

.sly-tab > .nav-tabs-custom > .nav-tabs > li > a > .tab-close:hover{
  color: #999;
}

.sly-tab > .nav-tabs-custom > .nav-tabs > li.active {
  border-bottom-color: #3c8dbc;
}

.sly-tab > .nav-tabs-custom.tab-primary > .nav-tabs > li.active {
  border-bottom-color: #3c8dbc;
}
.sly-tab > .nav-tabs-custom.tab-info > .nav-tabs > li.active {
  border-bottom-color: #00c0ef;
}
.sly-tab > .nav-tabs-custom.tab-danger > .nav-tabs > li.active {
  border-bottom-color: #dd4b39;
}
.sly-tab > .nav-tabs-custom.tab-warning > .nav-tabs > li.active {
  border-bottom-color: #f39c12;
}
.sly-tab > .nav-tabs-custom.tab-success > .nav-tabs > li.active {
  border-bottom-color: #00a65a;
}
.sly-tab > .nav-tabs-custom.tab-default > .nav-tabs > li.active {
  border-bottom-color: #d2d6de;
}

.content-iframe > iframe {
  width: 100%;
  height: 100%;
  border: none;
}
/* tab end */

.mr-b-10 { margin-bottom: 10px;}
.mr-t-6 { margin-top: 6px;}

.form-body {
  margin-bottom: 55px;
}
/* form */
.form-footer {
  position:fixed;
  bottom:0;
  width: 100%;
  border-top: 1px solid #f4f4f4;
  background: #fff;
  padding: 10px;
}